[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist
ignore =
    # https://flake8.pycqa.org/en/latest/user/error-codes.html
    # https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes
    # continuation line over-indented for hanging indent
    E126,
    # missing whitespace around arithmetic operator
    E226,
    # multiple spaces after ','
    E241,
    # line break after binary operator
    W504
statistics = True
