[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist
ignore =
    # https://flake8.pycqa.org/en/latest/user/error-codes.html
    # https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes
    E126, # continuation line over-indented for hanging indent
    E226, # missing whitespace around arithmetic operator
    E241, # multiple spaces after ','
    W504  # line break after binary operator
statistics = True

