name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, '3.11']

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: pyproject.toml

      - name: Install Modflow executables
        uses: modflowpy/install-modflow-action@v1

      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install pip --upgrade --disable-pip-version-check
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          pip install -e .[test]

      - name: Run tests with required packages
        run: |
          pytest -v --cov

      - name: Run tests with optional packages
        run: |
          pip install -e .[extra]
          pytest -v -n2 --cov --cov-append

      - name: Run doctest
        run: |
          pytest -v swn --doctest-modules

      - name: Run tests with develop flopy and other older packages
        run: |
          pip install https://github.com/modflowpy/flopy/archive/refs/heads/develop.zip
          pip install "shapely<2.0" "pandas<2.0"
          pytest -v -n2 --cov --cov-append

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
